.item {
    /* border: 3px solid lightgray; */
    margin: 3px;
    padding: 3px;
    display: flex;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }

  .item:hover {

    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #8694a8 0%, #b6d1f9 74%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .item img {
    height: 70px;
    width: auto;
    margin-right: 25px;
    margin-left: 15px;
  
    border-radius: 20%;
    grid-row: 1 / span 2;
  }
  
  .item p {
    font-weight: bold;
    margin-bottom: 0;
    color: #899499;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .item h3 {
    font-size: 19px;
    margin-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .home {
    border: 2px solid #b8c6db;
    padding-top: 5px;
    padding-bottom: 15px;
  }
  
  .header {
    margin: 3px;
    color: whitesmoke;
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .searchbox {
    margin: 3px;
    height: 30px;
    border: 3px solid grey;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .form {
    align-self: center;
  }